Source: qmluic
Section: devel
Priority: optional
Maintainer: Yuya Nishihara <yuya@tcha.org>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cargo (>= 0.61),
 cmake,
 ninja-build,
 qtbase5-dev (>= 5.15),
 qtdeclarative5-dev-tools,
 qttools5-dev,
 rustc (>= 1.77),
Standards-Version: 4.6.1
Vcs-Browser: https://github.com/yuja/qmluic/
Vcs-Git: https://github.com/yuja/qmluic.git

Package: qmluic
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Recommends:
 qt5-qmake | qmake6,
Description: QML to UI transpiler
 'qmluic generate-ui' command translates .qml file to .ui XML file, which
 can then be processed by Qt User Interface Compiler 'uic' command.
