# Cargo
**/snapshots/*.snap.new
*.pending-snap
/target

# Debian packaging
/debian/
/obj-*/

# Emacs, etc.
*~
.#*
\#*#

# Qt Creator
*.autosave
*.qmlproject.user
CMakeLists.txt.user
build-*/

# qmluic
/examples/**/*.ui
